<div class="container">
  <h2 class="title">Orders</h2>
  <table class="orders-table">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Services</th>
        <th>Total Cost</th>
        <th>created_at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.order_number }}</td>
        <td>{{ order.services }}</td>
        <td>Ksh {{ order.total_cost }}</td>
        <td>{{ order.created_at }}</td>
        <td>
          <button (click)="createWorkProgress(order)">Create Work Progress</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
